body{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    font-size: larger;
    background-color: #eeeeee;
}
.formulario{
    width: 85%;
    margin: auto;
    background-color: #fff;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh;
}
input{
    width: 40%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 600;
    
}
input:focus{
    background-color: #eeeeee;
    
}

.div_grupo_auxiliar{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.div_grupo_auxiliar input{
    width: 160%;
}
button{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    height: 35px;
    width: 25%;
    border: 0;
    margin-bottom: 10px;
    margin-top: 5px;
}
button:hover{
    background-color: #eeeeee;
    color: black;
}